[Desktop Entry]
Encoding=UTF-8
Name=xastir
Exec=/usr/local/bin/xastir
Icon=/usr/local/share/xastir/symbols/icon.png
Terminal=False
Type=Application
Categories=Network;Ham Radio;
Comment=X Amateur Station Tracking and Information Reporting
