[Desktop Entry]
Name=AX.25-control
Comment=Start & Stop direwolf & ax.25
Path=/home/pi/bin
Exec=/home/pi/bin/ax25-toggle.sh
Type=Application
Icon=ax25_off.png
Terminal=false
Categories=Network;X-HAM Radio;
