Package: ax25apps
Version: 2.1.0
Release: 1
Section: hamradio
Priority: optional
Architecture: armhf
Depends: libax25 (>= 1.2.2), libncursesw5-dev
Maintainer: Lee Woldanski <ve7fet@tparc.org>
Description: AX.25 ham radio applications
 User tools for AX.25 Amateur Radio applications.
