[Unit]
Description=AX.25 mheard daemon
After=ax25dev.service
After=sys-subsystem-net-devices-ax0.device
BindsTo=sys-subsystem-net-devices-ax0.device

[Service]
ExecStart=/usr/local/sbin/mheardd -f -n 150
#RestartSec=1min
#Restart=on-failure

[Install]
WantedBy=multi-user.target
