[Unit]
Description=AX.25 device
BindsTo=direwolf.service
Requires=direwolf.service
After=direwolf.service
#After=network-online.target

[Service]
# Use for debug
Type=oneshot
ExecStart=/bin/bash -c '/etc/ax25/ax25-upd'
RemainAfterExit=yes

ExecStop=/bin/bash -c '/etc/ax25/ax25-downd'

[Install]
WantedBy=multi-user.target
