[Unit]
Description=node.js server for paclink-unix
After=network.service

[Service]
User=
Group=
WorkingDirectory=/usr/local/src/paclink-unix/webapp
# ExecStart=/usr/bin/nodejs /usr/local/src/paclink-unix/webapp/plu-server.js
ExecStart=/home/pi/.nvm/versions/node/v19.8.1/bin/node /usr/local/src/paclink-unix/webapp/plu-server.js
# Using the following causes 200/CHDIR error
Restart=always
RestartSec=10
# The following are obsolete
#StandardOutput=syslog
#StandardError=syslog
SyslogIdentifier=pluweb

[Install]
WantedBy=multi-user.target
